body{
	display: flex;
	justify-content: center;
 	align-items: center;
 	min-height: 100vh;
	margin: 0;
	font-family: sans-serif;
	background-color: #f4f4f4;
}

#panel{
	display: flex;
	flex-direction: column;
	border: solid;
	border-width: 1px;
	padding: 25px;
	border-color: lightgrey;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	background-color: white;
}

#panel > h1{
	margin: 0 0 20px 0;
	text-align: center;
}

#form-row{
	margin: 0 0 10px 0;
}
